@using Framework.Models;
@using AdventureWorksLT2019.Models;
@using AdventureWorksLT2019.Resx;
@using AdventureWorksLT2019.MvcWebApp.Models;
@using AdventureWorksLT2019.Models.Definitions;
@model MvcItemViewModel<ProductDescriptionDataModel>
@inject SelectListHelper selectListHelper;
@inject IUIStrings localizor;
@{
    var format_Please_Select = localizor.Get("Format_Please_Select");
}
@if (Model!.UIItemFeatures.ShowItemButtons)
{
    <td class="p-0" style="width: 1% !important;">
    <div class="btn-group btn-group-nt-action-save">
        <button type="button" class="btn btn-secondary btn-nt-action-cancel" data-nt-action="@HttpMethods.Post">
            <i class="fa-solid fa-circle-xmark"></i><span class="submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline ms-1">@localizor.Get("Cancel")</span>
        </button>
        <button type="button" class="btn btn-primary btn-nt-action" data-nt-action="@HttpMethods.Post"
            data-nt-container="@CrudViewContainers.Inline.ToString()"
            data-nt-template="@ViewItemTemplateNames.Create.ToString()">
            <i class="fa-solid fa-check-circle"></i><span class="submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline ms-1">@localizor.Get("Save")</span>
        </button>
    </div>
    </td>
}
<td class="form-group p-0">
</td>
<td class="form-group p-0">
    <input asp-for="Model!.Description" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(ProductDescriptionDataModel.Description))" name="@Model!.HtmlName(nameof(ProductDescriptionDataModel.Description))" data-nt-value="@Model!.Model!.Description"/>
    <span asp-validation-for="Model!.Description" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(ProductDescriptionDataModel.Description))"></span>
</td>
<td class="form-group p-0">
</td>
<td class="form-group p-0">
    <input asp-for="Model!.ModifiedDate" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(ProductDescriptionDataModel.ModifiedDate))" name="@Model!.HtmlName(nameof(ProductDescriptionDataModel.ModifiedDate))" data-nt-value="@Model!.Model!.ModifiedDate"/>
    <span asp-validation-for="Model!.ModifiedDate" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(ProductDescriptionDataModel.ModifiedDate))"></span>
</td>
@if (Model!.UIItemFeatures.ShowItemUIStatus)
{
    <td class="form-group nt-item-status text-center" style="width: 1% !important;">
        @if (Model!.Model!.ItemUIStatus______ == ItemUIStatus.NoChange)
        {
                <i class="fa-solid fa-circle-notch text-success"></i>
        }
        else if (Model!.Model!.ItemUIStatus______ == ItemUIStatus.Updated) // Usually: will be changed by JQuery
        {
                <i class="fa-solid fa-circle text-danger"></i>
        }
        else // ItemUIStatus.New
        {
                    <i class="fa-solid fa-circle text-danger"></i>
        }
        <input asp-for="Model!.ItemUIStatus______" class="form-control" data-nt-value="@Model!.Model!.ItemUIStatus______" id="@Model!.HtmlId(nameof(ProductDescriptionDataModel.ItemUIStatus______))" name="@Model!.HtmlName(nameof(ProductDescriptionDataModel.ItemUIStatus______))" type="hidden" />
    </td>
}
@if (Model!.UIItemFeatures.ShowEditableListDeleteSelect)
{
    <td class="form-group nt-editablelist-delete-select text-center" style="width: 1% !important;">
        <input asp-for="Model!.IsDeleted______" class="form-check-input nt-form-check ms-1" type="checkbox"  id="@Model!.HtmlId(nameof(ProductDescriptionDataModel.IsDeleted______))" name="@Model!.HtmlName(nameof(ProductDescriptionDataModel.IsDeleted______))" data-nt-value="@Model!.Model!.IsDeleted______"/>
    </td>
}
