@using Framework.Models;
@using AdventureWorksLT2019.Models.Definitions;
@using AdventureWorksLT2019.MvcWebApp.Models;
@using AdventureWorksLT2019.Models;
@using AdventureWorksLT2019.Resx;
@model MvcItemViewModel<ProductDescriptionDataModel>
@inject SelectListHelper selectListHelper;
@inject IUIStrings localizor;
@{
    ViewData["Title"] = localizor.Get("Details");
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h1>@localizor.Get("Details")</h1>
                <h4>@localizor.Get("ProductDescription")</h4>
            </div>
            @if (Model.Status != System.Net.HttpStatusCode.OK)
            {
                <div class="card-body">
                    <div class="text-danger">@Model.StatusMessage</div>
                </div>
            }
            else
            {
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="Model!.ProductDescriptionID" class="control-label" for="@Model!.HtmlId(nameof(ProductDescriptionDataModel.ProductDescriptionID))"></label>
                        <input asp-for="Model!.ProductDescriptionID" readonly class="form-control " id="@Model!.HtmlId(nameof(ProductDescriptionDataModel.ProductDescriptionID))" name="@Model!.HtmlName(nameof(ProductDescriptionDataModel.ProductDescriptionID))" data-nt-value="@Model!.Model!.ProductDescriptionID"/>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.Description" class="control-label" for="@Model!.HtmlId(nameof(ProductDescriptionDataModel.Description))"></label>
                        <input asp-for="Model!.Description" readonly class="form-control " id="@Model!.HtmlId(nameof(ProductDescriptionDataModel.Description))" name="@Model!.HtmlName(nameof(ProductDescriptionDataModel.Description))" data-nt-value="@Model!.Model!.Description"/>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.rowguid" class="control-label" for="@Model!.HtmlId(nameof(ProductDescriptionDataModel.rowguid))"></label>
                        <input asp-for="Model!.rowguid" readonly class="form-control " id="@Model!.HtmlId(nameof(ProductDescriptionDataModel.rowguid))" name="@Model!.HtmlName(nameof(ProductDescriptionDataModel.rowguid))" data-nt-value="@Model!.Model!.rowguid"/>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.ModifiedDate" class="control-label" for="@Model!.HtmlId(nameof(ProductDescriptionDataModel.ModifiedDate))"></label>
                        <input asp-for="Model!.ModifiedDate" readonly class="form-control " id="@Model!.HtmlId(nameof(ProductDescriptionDataModel.ModifiedDate))" name="@Model!.HtmlName(nameof(ProductDescriptionDataModel.ModifiedDate))" data-nt-value="@Model!.Model!.ModifiedDate"/>
                    </div>
                </div>
            }
            <div class="card-footer">
                <div class="btn-group" role="group" aria-label="...">
                    <a asp-area="" asp-controller="ProductDescription" asp-action="Details" asp-route-productdescriptionid="@Model!.Model!.ProductDescriptionID" class="btn btn-secondary" role="button" title="@localizor.Get("Refresh")">
                        <i class="fa-solid fa-refresh"></i><span class="nt-submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline ms-1">@localizor.Get("Refresh")</span>
                    </a>
                    @if (Model!.UIItemFeatures.PrimayEditViewContainer == CrudViewContainers.StandaloneView)
                    {
                        <a asp-area="" asp-controller="ProductDescription" asp-action="Edit" asp-route-productdescriptionid="@Model!.Model!.ProductDescriptionID" class="btn btn-default" role="button" title="@localizor.Get("Edit")">
                            <i class="fa fa-edit"></i><span class="nt-submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline ms-1">@localizor.Get("Edit")</span>
                        </a>
                    }
                    @if (Model!.UIItemFeatures.PrimayDeleteViewContainer == CrudViewContainers.StandaloneView)
                    {
                        <a asp-area="" asp-controller="ProductDescription" asp-action="Delete" asp-route-productdescriptionid="@Model!.Model!.ProductDescriptionID" class="btn btn-default" role="button" title="@localizor.Get("Delete")">
                            <i class="fa fa-trash"></i><span class="nt-submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline ms-1">@localizor.Get("Delete")</span>
                        </a>
                    }
                    <a asp-area="" asp-controller="ProductDescription" asp-action="Index" class="btn btn-secondary" role="button" title="@localizor.Get("Back_to_List")">
                        <i class="fa-solid fa-arrow-left"></i><span class="submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline">@localizor.Get("Back_to_List")</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
