@using AdventureWorksLT2019.Models;
@using AdventureWorksLT2019.MvcWebApp.Models;
@using AdventureWorksLT2019.Resx;
@using Framework.Models;
@model CustomerAddressCompositeModel;
@inject ViewFeaturesManager viewFeatureManager;
@inject DashboardViewModelHelper dashboardViewModelHelper;
@inject MvcItemViewModelHelper mvcItemViewModelHelper;
@inject IUIStrings localizor;
@{
    ViewData["Title"] = localizor.Get("Dashboard");
    var routeId = Model.__Master__.CustomerID;
    var masterVM = await dashboardViewModelHelper.GetCustomerAddressMvcItemViewModel(Model.__Master__, Model.Get(CustomerAddressCompositeModel.__DataOptions__.__Master__));
}
<div class="row">
    <div class="col-12 col-md-8 col-lg-9 nopadding">
        <ul class="nav nav-tabs" id="dashboardTabs" role="tablist">
        </ul>
        <div class="tab-content" id="dashboardTabContent">
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <!-- CustomerAddressCompositeModel.__DataOptions__.__Master__ -->
        <div class="nt-list-wrapper"
             id="master"
             data-nt-bs-modalsize="Large"
             data-nt-loaditem-url="@Url.Action("AjaxLoadItem", "CustomerAddress")"
             data-nt-createitem-url="@Url.Action("AjaxCreate", "CustomerAddress")"
             data-nt-updateitem-url="@Url.Action("AjaxEdit", "CustomerAddress")"
             data-nt-deleteitem-url="@Url.Action("AjaxDelete", "CustomerAddress")">
            <div class="nt-listitem" data-nt-route-id="@routeId">
                @await Html.PartialAsync("~/Views/CustomerAddress/_TileDetailsItem.cshtml", masterVM)
            </div>
        </div>
        <!-- CustomerAddressCompositeModel.__DataOptions__.__Master__ -->
    </div>
</div>
<partial name="~/Views/Shared/_CrudActionDialog.cshtml" />
<partial name="~/Views/Shared/_SimpleActionConfirmationDialog.cshtml" />
@section Scripts
    {
    <script>
        $(document).ready($(function () {
            documentReadyForPopups(true, true, true);
        }))
    </script>
}
