@using AdventureWorksLT2019.Models.Definitions;
@using AdventureWorksLT2019.MvcWebApp.Models;
@using AdventureWorksLT2019.Models;
@using AdventureWorksLT2019.Resx;
@model MvcItemViewModel<CustomerAddressDataModel.DefaultView>
@inject SelectListHelper selectListHelper;
@inject IUIStrings localizor;
@{
    ViewData["Title"] = localizor.Get("Delete");
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h1>@localizor.Get("Delete")</h1>
                <h4>@localizor.Get("CustomerAddress")</h4>
                <h3>@localizor.Get("Are_you_sure_you_want_to_delete_this_")</h3>
            </div>
            @if (Model.Status != System.Net.HttpStatusCode.OK)
            {
                <div class="card-body">
                    <div class="text-danger">@Model.StatusMessage</div>
                </div>
            }
            <div class="card-body">
                <div class="form-group">
                    <label asp-for="Model!.CustomerID" class="control-label" for="@Model!.HtmlId(nameof(CustomerAddressDataModel.DefaultView.CustomerID))"></label>
                    <a asp-area="" asp-controller="Customer" asp-action="Dashboard" asp-route-customerid="@Model!.Model!.CustomerID">@Model!.Model!.Customer_Name</a>
                </div>
                <div class="form-group">
                    <label asp-for="Model!.AddressID" class="control-label" for="@Model!.HtmlId(nameof(CustomerAddressDataModel.DefaultView.AddressID))"></label>
                    <a asp-area="" asp-controller="Address" asp-action="Dashboard" asp-route-addressid="@Model!.Model!.AddressID">@Model!.Model!.Address_Name</a>
                </div>
                <div class="form-group">
                    <label asp-for="Model!.AddressType" class="control-label" for="@Model!.HtmlId(nameof(CustomerAddressDataModel.DefaultView.AddressType))"></label>
                    @Html.DisplayFor(m=>m.Model!.AddressType)
                </div>
                <div class="form-group">
                    <label asp-for="Model!.rowguid" class="control-label" for="@Model!.HtmlId(nameof(CustomerAddressDataModel.DefaultView.rowguid))"></label>
                    @Html.DisplayFor(m=>m.Model!.rowguid)
                </div>
                <div class="form-group">
                    <label asp-for="Model!.ModifiedDate" class="control-label" for="@Model!.HtmlId(nameof(CustomerAddressDataModel.DefaultView.ModifiedDate))"></label>
                    @Html.DisplayFor(m=>m.Model!.ModifiedDate)
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group" role="group" aria-label="...">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Model!.CustomerID" id="@Model.HtmlId(nameof(CustomerAddressDataModel.DefaultView.CustomerID))" name="@Model.HtmlName(nameof(CustomerAddressDataModel.DefaultView.CustomerID))"/>
                        <input type="hidden" asp-for="Model!.AddressID" id="@Model.HtmlId(nameof(CustomerAddressDataModel.DefaultView.AddressID))" name="@Model.HtmlName(nameof(CustomerAddressDataModel.DefaultView.AddressID))"/>
                        <button class="btn btn-primary" role="button" type="submit" title="@localizor.Get("Delete")">
                            <span class="fa-solid fa-trash"></span><span class="nt-submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline ms-1">@localizor.Get("Delete")</span>
                        </button>
                    </form>
                    <a asp-area="" asp-controller="CustomerAddress" asp-action="Create" class="btn btn-secondary" role="button" title="@localizor.Get("Reset")">
                        <i class="fa-solid fa-refresh"></i><span class="nt-submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline ms-1">@localizor.Get("Reset")</span>
                    </a>
                    <a asp-area="" asp-controller="CustomerAddress" asp-action="Index" class="btn btn-secondary" role="button" title="@localizor.Get("Back_to_List")">
                        <i class="fa-solid fa-arrow-left"></i><span class="submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline">@localizor.Get("Back_to_List")</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
