@using Framework.Models;
@using AdventureWorksLT2019.Models.Definitions;
@using AdventureWorksLT2019.MvcWebApp.Models;
@using AdventureWorksLT2019.Models;
@using AdventureWorksLT2019.Resx;
@model MvcItemViewModel<ErrorLogDataModel>
@inject SelectListHelper selectListHelper;
@inject IUIStrings localizor;
@{
    var format_Please_Select = localizor.Get("Format_Please_Select");
}
@if (Model.Status != System.Net.HttpStatusCode.OK)
{
    <div class="row">
        <div class="text-danger">@Model.StatusMessage</div>
    </div>
}
else
{
    <input class="hidden-modal-title" value="@Model!.Model!.UserName" type="hidden" />
    <div class="form-group">
        <label asp-for="Model!.ErrorLogID" class="control-label" for="@Model!.HtmlId(nameof(ErrorLogDataModel.ErrorLogID))"></label>
        @Html.DisplayFor(m=>m.Model!.ErrorLogID)
    </div>
    <div class="form-group">
        <label asp-for="Model!.ErrorTime" class="control-label" for="@Model!.HtmlId(nameof(ErrorLogDataModel.ErrorTime))"></label>
        @Html.DisplayFor(m=>m.Model!.ErrorTime)
    </div>
    <div class="form-group">
        <label asp-for="Model!.UserName" class="control-label" for="@Model!.HtmlId(nameof(ErrorLogDataModel.UserName))"></label>
        @Html.DisplayFor(m=>m.Model!.UserName)
    </div>
    <div class="form-group">
        <label asp-for="Model!.ErrorNumber" class="control-label" for="@Model!.HtmlId(nameof(ErrorLogDataModel.ErrorNumber))"></label>
        @Html.DisplayFor(m=>m.Model!.ErrorNumber)
    </div>
    <div class="form-group">
        <label asp-for="Model!.ErrorSeverity" class="control-label" for="@Model!.HtmlId(nameof(ErrorLogDataModel.ErrorSeverity))"></label>
        @Html.DisplayFor(m=>m.Model!.ErrorSeverity)
    </div>
    <div class="form-group">
        <label asp-for="Model!.ErrorState" class="control-label" for="@Model!.HtmlId(nameof(ErrorLogDataModel.ErrorState))"></label>
        @Html.DisplayFor(m=>m.Model!.ErrorState)
    </div>
    <div class="form-group">
        <label asp-for="Model!.ErrorProcedure" class="control-label" for="@Model!.HtmlId(nameof(ErrorLogDataModel.ErrorProcedure))"></label>
        @Html.DisplayFor(m=>m.Model!.ErrorProcedure)
    </div>
    <div class="form-group">
        <label asp-for="Model!.ErrorLine" class="control-label" for="@Model!.HtmlId(nameof(ErrorLogDataModel.ErrorLine))"></label>
        @Html.DisplayFor(m=>m.Model!.ErrorLine)
    </div>
    <div class="form-group">
        <label asp-for="Model!.ErrorMessage" class="control-label" for="@Model!.HtmlId(nameof(ErrorLogDataModel.ErrorMessage))"></label>
        @Html.DisplayFor(m=>m.Model!.ErrorMessage)
    </div>
}
