@using Framework.Common;
@using AdventureWorksLT2019.Models;
@using AdventureWorksLT2019.Resx;
@using AdventureWorksLT2019.MvcWebApp.Models;
@using Framework.Mvc.Models;
@using AdventureWorksLT2019.Models.Definitions;
@model MvcItemViewModel<ErrorLogDataModel>
@inject SelectListHelper selectListHelper;
@inject IUIStrings localizor;
@{
    var format_Please_Select = localizor.Get("Format_Please_Select");
}
@if (Model!.UIItemFeatures.ShowListBulkSelectCheckbox)
{
    <td class="pt-0 pb-0 nt-list-bulk-select" style="width: 1% !important;">
    </td>
}
@if (Model!.UIItemFeatures.ShowItemButtons)
{
    <td class="p-0" style="width: 1% !important;">
    <div class="btn-group btn-group-nt-action-save">
        <button type="button" class="btn btn-secondary btn-nt-action-cancel" data-nt-action="@HttpMethods.Post">
            <i class="fa-solid fa-circle-xmark"></i><span class="submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline ms-1">@localizor.Get("Cancel")</span>
        </button>
        <button type="button" class="btn btn-primary btn-nt-action" data-nt-action="@HttpMethods.Post"
            data-nt-container="@CrudViewContainers.Inline.ToString()"
            data-nt-template="@ViewItemTemplates.Create.ToString()">
            <i class="fa-solid fa-check-circle"></i><span class="submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline ms-1">@localizor.Get("Save")</span>
        </button>
    </div>
    </td>
}
<td class="form-group p-0">
</td>
<td class="form-group p-0">
    <input asp-for="Model!.ErrorTime" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(ErrorLogDataModel.ErrorTime))" name="@Model!.HtmlName(nameof(ErrorLogDataModel.ErrorTime))" data-nt-value="@Model!.Model!.ErrorTime"/>
    <span asp-validation-for="Model!.ErrorTime" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(ErrorLogDataModel.ErrorTime))"></span>
</td>
<td class="form-group p-0">
    <input asp-for="Model!.UserName" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(ErrorLogDataModel.UserName))" name="@Model!.HtmlName(nameof(ErrorLogDataModel.UserName))" data-nt-value="@Model!.Model!.UserName"/>
    <span asp-validation-for="Model!.UserName" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(ErrorLogDataModel.UserName))"></span>
</td>
<td class="form-group p-0">
    <input asp-for="Model!.ErrorNumber" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(ErrorLogDataModel.ErrorNumber))" name="@Model!.HtmlName(nameof(ErrorLogDataModel.ErrorNumber))" data-nt-value="@Model!.Model!.ErrorNumber"/>
    <span asp-validation-for="Model!.ErrorNumber" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(ErrorLogDataModel.ErrorNumber))"></span>
</td>
<td class="form-group p-0">
    <input asp-for="Model!.ErrorSeverity" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(ErrorLogDataModel.ErrorSeverity))" name="@Model!.HtmlName(nameof(ErrorLogDataModel.ErrorSeverity))" data-nt-value="@Model!.Model!.ErrorSeverity"/>
</td>
<td class="form-group p-0">
    <input asp-for="Model!.ErrorState" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(ErrorLogDataModel.ErrorState))" name="@Model!.HtmlName(nameof(ErrorLogDataModel.ErrorState))" data-nt-value="@Model!.Model!.ErrorState"/>
</td>
<td class="form-group p-0">
    <input asp-for="Model!.ErrorProcedure" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(ErrorLogDataModel.ErrorProcedure))" name="@Model!.HtmlName(nameof(ErrorLogDataModel.ErrorProcedure))" data-nt-value="@Model!.Model!.ErrorProcedure"/>
    <span asp-validation-for="Model!.ErrorProcedure" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(ErrorLogDataModel.ErrorProcedure))"></span>
</td>
<td class="form-group p-0">
    <input asp-for="Model!.ErrorLine" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(ErrorLogDataModel.ErrorLine))" name="@Model!.HtmlName(nameof(ErrorLogDataModel.ErrorLine))" data-nt-value="@Model!.Model!.ErrorLine"/>
</td>
<td class="form-group p-0">
    <input asp-for="Model!.ErrorMessage" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(ErrorLogDataModel.ErrorMessage))" name="@Model!.HtmlName(nameof(ErrorLogDataModel.ErrorMessage))" data-nt-value="@Model!.Model!.ErrorMessage"/>
    <span asp-validation-for="Model!.ErrorMessage" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(ErrorLogDataModel.ErrorMessage))"></span>
</td>
@if (Model!.UIItemFeatures.ShowItemUIStatus)
{
    <td class="form-group nt-item-status text-center" style="width: 1% !important;">
        @if (Model!.Model!.ItemUIStatus______ == ItemUIStatus.NoChange)
        {
                <i class="fa-solid fa-circle-notch text-success"></i>
        }
        else if (Model!.Model!.ItemUIStatus______ == ItemUIStatus.Updated) // Usually: will be changed by JQuery
        {
                <i class="fa-solid fa-circle text-danger"></i>
        }
        else // ItemUIStatus.New
        {
                    <i class="fa-solid fa-circle text-danger"></i>
        }
        <input asp-for="Model!.ItemUIStatus______" class="form-control" data-nt-value="@Model!.Model!.ItemUIStatus______" id="@Model!.HtmlId(nameof(ErrorLogDataModel.ItemUIStatus______))" name="@Model!.HtmlName(nameof(ErrorLogDataModel.ItemUIStatus______))" type="hidden" />
    </td>
}
@if (Model!.UIItemFeatures.ShowEditableListDeleteSelect)
{
    <td class="form-group nt-editablelist-delete-select text-center" style="width: 1% !important;">
        <input asp-for="Model!.IsDeleted______" class="form-check-input nt-form-check ms-1" type="checkbox"  id="@Model!.HtmlId(nameof(ErrorLogDataModel.IsDeleted______))" name="@Model!.HtmlName(nameof(ErrorLogDataModel.IsDeleted______))" data-nt-value="@Model!.Model!.IsDeleted______"/>
    </td>
}
