@using Framework.Models;
@using AdventureWorksLT2019.Models.Definitions;
@using AdventureWorksLT2019.MvcWebApp.Models;
@using AdventureWorksLT2019.Models;
@using AdventureWorksLT2019.Resx;
@model MvcItemViewModel<ErrorLogDataModel>
@inject SelectListHelper selectListHelper;
@inject IUIStrings localizor;
@{
    ViewData["Title"] = localizor.Get("Details");
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h1>@localizor.Get("Details")</h1>
                <h4>@localizor.Get("ErrorLog")</h4>
            </div>
            @if (Model.Status != System.Net.HttpStatusCode.OK)
            {
                <div class="card-body">
                    <div class="text-danger">@Model.StatusMessage</div>
                </div>
            }
            else
            {
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="Model!.ErrorLogID" class="control-label" for="@Model!.HtmlId(nameof(ErrorLogDataModel.ErrorLogID))"></label>
                        <input asp-for="Model!.ErrorLogID" readonly class="form-control " id="@Model!.HtmlId(nameof(ErrorLogDataModel.ErrorLogID))" name="@Model!.HtmlName(nameof(ErrorLogDataModel.ErrorLogID))" data-nt-value="@Model!.Model!.ErrorLogID"/>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.ErrorTime" class="control-label" for="@Model!.HtmlId(nameof(ErrorLogDataModel.ErrorTime))"></label>
                        <input asp-for="Model!.ErrorTime" readonly class="form-control " id="@Model!.HtmlId(nameof(ErrorLogDataModel.ErrorTime))" name="@Model!.HtmlName(nameof(ErrorLogDataModel.ErrorTime))" data-nt-value="@Model!.Model!.ErrorTime"/>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.UserName" class="control-label" for="@Model!.HtmlId(nameof(ErrorLogDataModel.UserName))"></label>
                        <input asp-for="Model!.UserName" readonly class="form-control " id="@Model!.HtmlId(nameof(ErrorLogDataModel.UserName))" name="@Model!.HtmlName(nameof(ErrorLogDataModel.UserName))" data-nt-value="@Model!.Model!.UserName"/>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.ErrorNumber" class="control-label" for="@Model!.HtmlId(nameof(ErrorLogDataModel.ErrorNumber))"></label>
                        <input asp-for="Model!.ErrorNumber" readonly class="form-control " id="@Model!.HtmlId(nameof(ErrorLogDataModel.ErrorNumber))" name="@Model!.HtmlName(nameof(ErrorLogDataModel.ErrorNumber))" data-nt-value="@Model!.Model!.ErrorNumber"/>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.ErrorSeverity" class="control-label" for="@Model!.HtmlId(nameof(ErrorLogDataModel.ErrorSeverity))"></label>
                        <input asp-for="Model!.ErrorSeverity" readonly class="form-control " id="@Model!.HtmlId(nameof(ErrorLogDataModel.ErrorSeverity))" name="@Model!.HtmlName(nameof(ErrorLogDataModel.ErrorSeverity))" data-nt-value="@Model!.Model!.ErrorSeverity"/>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.ErrorState" class="control-label" for="@Model!.HtmlId(nameof(ErrorLogDataModel.ErrorState))"></label>
                        <input asp-for="Model!.ErrorState" readonly class="form-control " id="@Model!.HtmlId(nameof(ErrorLogDataModel.ErrorState))" name="@Model!.HtmlName(nameof(ErrorLogDataModel.ErrorState))" data-nt-value="@Model!.Model!.ErrorState"/>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.ErrorProcedure" class="control-label" for="@Model!.HtmlId(nameof(ErrorLogDataModel.ErrorProcedure))"></label>
                        <input asp-for="Model!.ErrorProcedure" readonly class="form-control " id="@Model!.HtmlId(nameof(ErrorLogDataModel.ErrorProcedure))" name="@Model!.HtmlName(nameof(ErrorLogDataModel.ErrorProcedure))" data-nt-value="@Model!.Model!.ErrorProcedure"/>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.ErrorLine" class="control-label" for="@Model!.HtmlId(nameof(ErrorLogDataModel.ErrorLine))"></label>
                        <input asp-for="Model!.ErrorLine" readonly class="form-control " id="@Model!.HtmlId(nameof(ErrorLogDataModel.ErrorLine))" name="@Model!.HtmlName(nameof(ErrorLogDataModel.ErrorLine))" data-nt-value="@Model!.Model!.ErrorLine"/>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.ErrorMessage" class="control-label" for="@Model!.HtmlId(nameof(ErrorLogDataModel.ErrorMessage))"></label>
                        <input asp-for="Model!.ErrorMessage" readonly class="form-control " id="@Model!.HtmlId(nameof(ErrorLogDataModel.ErrorMessage))" name="@Model!.HtmlName(nameof(ErrorLogDataModel.ErrorMessage))" data-nt-value="@Model!.Model!.ErrorMessage"/>
                    </div>
                </div>
            }
            <div class="card-footer">
                <div class="btn-group" role="group" aria-label="...">
                    <a asp-area="" asp-controller="ErrorLog" asp-action="Details" asp-route-errorlogid="@Model!.Model!.ErrorLogID" class="btn btn-secondary" role="button" title="@localizor.Get("Refresh")">
                        <i class="fa-solid fa-refresh"></i><span class="nt-submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline ms-1">@localizor.Get("Refresh")</span>
                    </a>
                    @if (Model!.UIItemFeatures.PrimayEditViewContainer == CrudViewContainers.StandaloneView)
                    {
                        <a asp-area="" asp-controller="ErrorLog" asp-action="Edit" asp-route-errorlogid="@Model!.Model!.ErrorLogID" class="btn btn-default" role="button" title="@localizor.Get("Edit")">
                            <i class="fa fa-edit"></i><span class="nt-submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline ms-1">@localizor.Get("Edit")</span>
                        </a>
                    }
                    @if (Model!.UIItemFeatures.PrimayDeleteViewContainer == CrudViewContainers.StandaloneView)
                    {
                        <a asp-area="" asp-controller="ErrorLog" asp-action="Delete" asp-route-errorlogid="@Model!.Model!.ErrorLogID" class="btn btn-default" role="button" title="@localizor.Get("Delete")">
                            <i class="fa fa-trash"></i><span class="nt-submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline ms-1">@localizor.Get("Delete")</span>
                        </a>
                    }
                    <a asp-area="" asp-controller="ErrorLog" asp-action="Index" class="btn btn-secondary" role="button" title="@localizor.Get("Back_to_List")">
                        <i class="fa-solid fa-arrow-left"></i><span class="submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline">@localizor.Get("Back_to_List")</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
