@using Framework.Models;
@using AdventureWorksLT2019.Models.Definitions;
@using AdventureWorksLT2019.MvcWebApp.Models;
@using AdventureWorksLT2019.Models;
@using AdventureWorksLT2019.Resx;
@model MvcItemViewModel<SalesOrderDetailDataModel.DefaultView>
@inject SelectListHelper selectListHelper;
@inject IUIStrings localizor;
@{
    var format_Please_Select = localizor.Get("Format_Please_Select");
}
@if (Model.Status != System.Net.HttpStatusCode.OK)
{
    <div class="row">
        <div class="text-danger">@Model.StatusMessage</div>
    </div>
}
else
{
    <input class="hidden-modal-title" value="@Model!.Model!.Product_Name" type="hidden" />
    <div class="form-group">
        <label asp-for="Model!.SalesOrderID" class="control-label" for="@Model!.HtmlId(nameof(SalesOrderDetailDataModel.DefaultView.SalesOrderID))"></label>
        <a asp-area="" asp-controller="SalesOrderHeader" asp-action="Dashboard" asp-route-salesorderid="@Model!.Model!.SalesOrderID">@Model!.Model!.SalesOrderHeader_Name</a>
    </div>
    <div class="form-group">
        <label asp-for="Model!.SalesOrderDetailID" class="control-label" for="@Model!.HtmlId(nameof(SalesOrderDetailDataModel.DefaultView.SalesOrderDetailID))"></label>
        @Html.DisplayFor(m=>m.Model!.SalesOrderDetailID)
    </div>
    <div class="form-group">
        <label asp-for="Model!.OrderQty" class="control-label" for="@Model!.HtmlId(nameof(SalesOrderDetailDataModel.DefaultView.OrderQty))"></label>
        @Html.DisplayFor(m=>m.Model!.OrderQty)
    </div>
    <div class="form-group">
        <label asp-for="Model!.ProductID" class="control-label" for="@Model!.HtmlId(nameof(SalesOrderDetailDataModel.DefaultView.ProductID))"></label>
        <a asp-area="" asp-controller="Product" asp-action="Dashboard" asp-route-productid="@Model!.Model!.ProductID">@Model!.Model!.Product_Name</a>
    </div>
    <div class="form-group">
        <label asp-for="Model!.UnitPrice" class="control-label" for="@Model!.HtmlId(nameof(SalesOrderDetailDataModel.DefaultView.UnitPrice))"></label>
        @Html.DisplayFor(m=>m.Model!.UnitPrice)
    </div>
    <div class="form-group">
        <label asp-for="Model!.UnitPriceDiscount" class="control-label" for="@Model!.HtmlId(nameof(SalesOrderDetailDataModel.DefaultView.UnitPriceDiscount))"></label>
        @Html.DisplayFor(m=>m.Model!.UnitPriceDiscount)
    </div>
    <div class="form-group">
        <label asp-for="Model!.LineTotal" class="control-label" for="@Model!.HtmlId(nameof(SalesOrderDetailDataModel.DefaultView.LineTotal))"></label>
        @Html.DisplayFor(m=>m.Model!.LineTotal)
    </div>
    <div class="form-group">
        <label asp-for="Model!.rowguid" class="control-label" for="@Model!.HtmlId(nameof(SalesOrderDetailDataModel.DefaultView.rowguid))"></label>
        @Html.DisplayFor(m=>m.Model!.rowguid)
    </div>
    <div class="form-group">
        <label asp-for="Model!.ModifiedDate" class="control-label" for="@Model!.HtmlId(nameof(SalesOrderDetailDataModel.DefaultView.ModifiedDate))"></label>
        @Html.DisplayFor(m=>m.Model!.ModifiedDate)
    </div>
}
