@using Framework.Models;
@using AdventureWorksLT2019.Models;
@using AdventureWorksLT2019.Resx;
@model MvcItemViewModel<SalesOrderDetailDataModel.DefaultView>
@inject IUIStrings localizor;
@if (Model!.UIItemFeatures.ShowItemButtons)
{
    <td class="p-0" style="width: 1% !important;">
    </td>
}
<td class="pt-0 pb-0">
    <a asp-area="" asp-controller="SalesOrderHeader" asp-action="Dashboard" asp-route-salesorderid="@Model!.Model!.SalesOrderID">@Model!.Model!.SalesOrderHeader_Name</a>
</td>
<td class="pt-0 pb-0">
    @Html.DisplayFor(m=>m.Model!.SalesOrderDetailID)
</td>
<td class="pt-0 pb-0">
    @Html.DisplayFor(m=>m.Model!.OrderQty)
</td>
<td class="pt-0 pb-0">
    <a asp-area="" asp-controller="Product" asp-action="Dashboard" asp-route-productid="@Model!.Model!.ProductID">@Model!.Model!.Product_Name</a>
</td>
<td class="pt-0 pb-0">
    @Html.DisplayFor(m=>m.Model!.UnitPrice)
</td>
<td class="pt-0 pb-0">
    @Html.DisplayFor(m=>m.Model!.UnitPriceDiscount)
</td>
<td class="pt-0 pb-0">
    @Html.DisplayFor(m=>m.Model!.LineTotal)
</td>
<td class="pt-0 pb-0">
    @Html.DisplayFor(m=>m.Model!.rowguid)
</td>
<td class="pt-0 pb-0">
    @Html.DisplayFor(m=>m.Model!.ModifiedDate)
</td>
@if (Model!.UIItemFeatures.ShowItemUIStatus)
{
    <td class="form-group nt-item-status text-center" style="width: 1% !important;">
        @if (Model!.Model!.ItemUIStatus______ == ItemUIStatus.NoChange)
        {
                <i class="fa-solid fa-circle-notch text-success"></i>
        }
        else if (Model!.Model!.ItemUIStatus______ == ItemUIStatus.Updated) // Usually: will be changed by JQuery
        {
                <i class="fa-solid fa-circle text-danger"></i>
        }
        else // ItemUIStatus.New
        {
                    <i class="fa-solid fa-circle text-danger"></i>
        }
        <input asp-for="Model!.ItemUIStatus______" class="form-control" data-nt-value="@Model!.Model!.ItemUIStatus______" id="@Model!.HtmlId(nameof(SalesOrderDetailDataModel.DefaultView.ItemUIStatus______))" name="@Model!.HtmlName(nameof(SalesOrderDetailDataModel.DefaultView.ItemUIStatus______))" type="hidden" />
    </td>
}
@if (Model!.UIItemFeatures.ShowEditableListDeleteSelect)
{
    <td class="form-group nt-editablelist-delete-select text-center" style="width: 1% !important;">
        <input asp-for="Model!.IsDeleted______" class="form-check-input nt-form-check ms-1" type="checkbox"  id="@Model!.HtmlId(nameof(SalesOrderDetailDataModel.DefaultView.IsDeleted______))" name="@Model!.HtmlName(nameof(SalesOrderDetailDataModel.DefaultView.IsDeleted______))" data-nt-value="@Model!.Model!.IsDeleted______"/>
    </td>
}
