@using AdventureWorksLT2019.Models;
@using AdventureWorksLT2019.Resx;
@using Framework.Models;
@using AdventureWorksLT2019.MvcWebApp.Models;
@model PagedViewModel<SalesOrderDetailDataModel.DefaultView[]>
@inject IUIStrings localizor;
<!--for EditableList "Create New" for now, can copy to Tiles -->
<input type="hidden" class="nt-list-count" value="@Model!.Result!.ResponseBody!.Count()" />
<div class="table-responsive p-0">
    <form>
    <table class="table table-hover table-bordered table-striped align-middle">
        <thead class="table-dark">
            <tr class="pt-0 pb-0">
                @if (Model!.UIListSetting.ShowListBulkActionRelated(true))
                {
                    <th class="p-0" style="width: 1% !important;"></th>
                }
                @if (Model!.UIListSetting.ShowItemButtons())
                {
                    <th class="p-0" style="width: 1% !important;"></th>
                }
                <th class="pt-0 pb-0">@localizor.Get("SalesOrderID")</th>
                <th class="pt-0 pb-0">@localizor.Get("SalesOrderDetailID")</th>
                <th class="pt-0 pb-0">@localizor.Get("OrderQty")</th>
                <th class="pt-0 pb-0">@localizor.Get("ProductID")</th>
                <th class="pt-0 pb-0">@localizor.Get("UnitPrice")</th>
                <th class="pt-0 pb-0">@localizor.Get("UnitPriceDiscount")</th>
                <th class="pt-0 pb-0">@localizor.Get("LineTotal")</th>
                <th class="pt-0 pb-0">@localizor.Get("rowguid")</th>
                <th class="pt-0 pb-0">@localizor.Get("ModifiedDate")</th>
                @if (Model!.UIListSetting.ShowItemUIStatus())
                {
                    <th style="width: 1% !important;"></th>
                }
                @if (Model!.UIListSetting.ShowEditableListDeleteSelect())
                {
                    <th class="text-center" style="width: 1% !important;"><i class="fa-solid fa-trash"></i></th>
                }
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Result != null && Model.Result.Status == System.Net.HttpStatusCode.OK && Model.Result.ResponseBody != null)
            {
                for (var i = 0; i < Model.Result.ResponseBody.Length; i++)
                {
                    @await Html.PartialAsync("~/Views/SalesOrderDetail/_TableItemTr.cshtml",
                        new MvcItemViewModel<SalesOrderDetailDataModel.DefaultView>
                        {
                            UIItemFeatures = Model.UIListSetting.GetUIItemFeatures(),
                            Status = System.Net.HttpStatusCode.OK,
                            StatusMessage = Model.Result.StatusMessage,
                            Template = Model!.UIListSetting.UIParams.PagedViewOption != PagedViewOptions.EditableTable ? ViewItemTemplateNames.Details.ToString() : ViewItemTemplateNames.Edit.ToString(),
                            IndexInArray = i,
                            Model = Model.Result.ResponseBody[i],
                            TopLevelDropDownListsFromDatabase = Model.TopLevelDropDownListsFromDatabase,
                        })
                }
            }
            else if (Model != null && Model.Result != null)
            {
                <tr>
                    <td colspan="50">
                        <div class="text-danger">@Model.Result.StatusMessage</div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </form>
    @if (Model != null && Model!.UIListSetting!.UIListFeatures.HasPagination && Model.Result != null && Model.Result.Pagination != null)
    {
        @await Html.PartialAsync("~/Views/Shared/_Pagination.cshtml", Model.Result.Pagination)
    }
</div>
