@using AdventureWorksLT2019.Models;
@using AdventureWorksLT2019.MvcWebApp.Models;
@using AdventureWorksLT2019.Resx;
@using Framework.Models;
@model SalesOrderDetailCompositeModel;
@inject ViewFeaturesManager viewFeatureManager;
@inject DashboardViewModelHelper dashboardViewModelHelper;
@inject MvcItemViewModelHelper mvcItemViewModelHelper;
@inject IUIStrings localizor;
@{
    ViewData["Title"] = localizor.Get("Dashboard");
    var routeId = Model.__Master__.SalesOrderID;
    var masterVM = await dashboardViewModelHelper.GetSalesOrderDetailMvcItemViewModel(Model.__Master__, Model.Get(SalesOrderDetailCompositeModel.__DataOptions__.__Master__));
}
<div class="row">
    <div class="col-12 col-md-8 nopadding">
        <ul class="nav nav-tabs" id="dashboardTabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="moredetails-tab" data-bs-toggle="tab" data-bs-target="#moredetails" type="button" role="tab" aria-controls="moredetails" aria-selected="true"><i class="fa fa-list me-2"></i>@localizor.Get("Tab_MoreDetails")</button>
            </li>
        </ul>
        <div class="tab-content" id="dashboardTabContent">
            <div class="tab-pane fade show active" id="moredetails" role="tabpanel" aria-labelledby="moredetails-tab">
                <div class="accordion" id="moreDetailsPanels">
                    @if (Model!.Responses.ContainsKey(SalesOrderDetailCompositeModel.__DataOptions__.Product))
                    {
                        var vm = await dashboardViewModelHelper.GetProductMvcItemViewModel(Model!.Product!, Model.Get(SalesOrderDetailCompositeModel.__DataOptions__.Product));
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-heading-product">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-product" aria-expanded="true" aria-controls="panelsStayOpen-product">
                                    @localizor.Get("Section_Product")
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapse-product" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading-product">
                                <div class="accordion-body p-0">
                                    <div class="nt-list-wrapper"
                                         data-nt-bs-modalsize="Large"
                                         data-nt-loaditem-url="@Url.Action("AjaxLoadItem", "Product")"
                                         data-nt-createitem-url="@Url.Action("AjaxCreate", "Product")"
                                         data-nt-updateitem-url="@Url.Action("AjaxEdit", "Product")"
                                         data-nt-deleteitem-url="@Url.Action("AjaxDelete", "Product")">
                                        <div class="nt-listitem" data-nt-route-id="@routeId">
                                            @await Html.PartialAsync("~/Views/Product/_TileDetailsItem.cshtml", vm)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model!.Responses.ContainsKey(SalesOrderDetailCompositeModel.__DataOptions__.ProductCategory))
                    {
                        var vm = await dashboardViewModelHelper.GetProductCategoryMvcItemViewModel(Model!.ProductCategory!, Model.Get(SalesOrderDetailCompositeModel.__DataOptions__.ProductCategory));
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-heading-productCategory">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-productCategory" aria-expanded="true" aria-controls="panelsStayOpen-productCategory">
                                    @localizor.Get("Section_ProductCategory")
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapse-productCategory" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading-productCategory">
                                <div class="accordion-body p-0">
                                    <div class="nt-list-wrapper"
                                         data-nt-bs-modalsize="Large"
                                         data-nt-loaditem-url="@Url.Action("AjaxLoadItem", "ProductCategory")"
                                         data-nt-createitem-url="@Url.Action("AjaxCreate", "ProductCategory")"
                                         data-nt-updateitem-url="@Url.Action("AjaxEdit", "ProductCategory")"
                                         data-nt-deleteitem-url="@Url.Action("AjaxDelete", "ProductCategory")">
                                        <div class="nt-listitem" data-nt-route-id="@routeId">
                                            @await Html.PartialAsync("~/Views/ProductCategory/_TileDetailsItem.cshtml", vm)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model!.Responses.ContainsKey(SalesOrderDetailCompositeModel.__DataOptions__.SalesOrderHeader))
                    {
                        var vm = await dashboardViewModelHelper.GetSalesOrderHeaderMvcItemViewModel(Model!.SalesOrderHeader!, Model.Get(SalesOrderDetailCompositeModel.__DataOptions__.SalesOrderHeader));
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-heading-salesOrderHeader">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-salesOrderHeader" aria-expanded="true" aria-controls="panelsStayOpen-salesOrderHeader">
                                    @localizor.Get("Section_SalesOrderHeader")
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapse-salesOrderHeader" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading-salesOrderHeader">
                                <div class="accordion-body p-0">
                                    <div class="nt-list-wrapper"
                                         data-nt-bs-modalsize="Large"
                                         data-nt-loaditem-url="@Url.Action("AjaxLoadItem", "SalesOrderHeader")"
                                         data-nt-createitem-url="@Url.Action("AjaxCreate", "SalesOrderHeader")"
                                         data-nt-updateitem-url="@Url.Action("AjaxEdit", "SalesOrderHeader")"
                                         data-nt-deleteitem-url="@Url.Action("AjaxDelete", "SalesOrderHeader")">
                                        <div class="nt-listitem" data-nt-route-id="@routeId">
                                            @await Html.PartialAsync("~/Views/SalesOrderHeader/_TileDetailsItem.cshtml", vm)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <!-- SalesOrderDetailCompositeModel.__DataOptions__.__Master__ -->
        <div class="nt-list-wrapper"
             id="master"
             data-nt-bs-modalsize="Large"
             data-nt-loaditem-url="@Url.Action("AjaxLoadItem", "SalesOrderDetail")"
             data-nt-createitem-url="@Url.Action("AjaxCreate", "SalesOrderDetail")"
             data-nt-updateitem-url="@Url.Action("AjaxEdit", "SalesOrderDetail")"
             data-nt-deleteitem-url="@Url.Action("AjaxDelete", "SalesOrderDetail")">
            <div class="nt-listitem" data-nt-route-id="@routeId">
                @await Html.PartialAsync("~/Views/SalesOrderDetail/_TileDetailsItem.cshtml", masterVM)
            </div>
        </div>
        <!-- SalesOrderDetailCompositeModel.__DataOptions__.__Master__ -->
    </div>
</div>
<partial name="~/Views/Shared/_CrudActionDialog.cshtml" />
<partial name="~/Views/Shared/_SimpleActionConfirmationDialog.cshtml" />
@section Scripts
    {
    <script>
        $(document).ready($(function () {
            documentReadyForPopups(true, true, true);
        }))
    </script>
}
