@using AdventureWorksLT2019.Models.Definitions;
@using AdventureWorksLT2019.MvcWebApp.Models;
@using Framework.Mvc.Models;
@using AdventureWorksLT2019.Models;
@using AdventureWorksLT2019.Resx;
@model MvcItemViewModel<SalesOrderHeaderDataModel.DefaultView>
@inject SelectListHelper selectListHelper;
@inject IUIStrings localizor;
@{
    ViewData["Title"] = localizor.Get("Create");
    var format_Please_Select = localizor.Get("Format_Please_Select");
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h1>@localizor.Get("Create")</h1>
                <h4>@localizor.Get("SalesOrderHeader")</h4>
            </div>
            <form asp-action="Create">
                @if (Model.Status != System.Net.HttpStatusCode.OK)
                {
                    <div class="card-body">
                        <div class="text-danger">@Model.StatusMessage</div>
                    </div>
                }
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Model!.RevisionNumber" class="control-label" for="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.RevisionNumber))"></label>
                        <input asp-for="Model!.RevisionNumber" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.RevisionNumber))" name="@Model!.HtmlName(nameof(SalesOrderHeaderDataModel.DefaultView.RevisionNumber))" data-nt-value="@Model!.Model!.RevisionNumber"/>
                        <span asp-validation-for="Model!.RevisionNumber" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(SalesOrderHeaderDataModel.DefaultView.RevisionNumber))"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.OrderDate" class="control-label" for="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.OrderDate))"></label>
                        <input asp-for="Model!.OrderDate" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.OrderDate))" name="@Model!.HtmlName(nameof(SalesOrderHeaderDataModel.DefaultView.OrderDate))" data-nt-value="@Model!.Model!.OrderDate"/>
                        <span asp-validation-for="Model!.OrderDate" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(SalesOrderHeaderDataModel.DefaultView.OrderDate))"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.DueDate" class="control-label" for="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.DueDate))"></label>
                        <input asp-for="Model!.DueDate" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.DueDate))" name="@Model!.HtmlName(nameof(SalesOrderHeaderDataModel.DefaultView.DueDate))" data-nt-value="@Model!.Model!.DueDate"/>
                        <span asp-validation-for="Model!.DueDate" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(SalesOrderHeaderDataModel.DefaultView.DueDate))"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.ShipDate" class="control-label" for="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.ShipDate))"></label>
                        <input asp-for="Model!.ShipDate" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.ShipDate))" name="@Model!.HtmlName(nameof(SalesOrderHeaderDataModel.DefaultView.ShipDate))" data-nt-value="@Model!.Model!.ShipDate"/>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.Status" class="control-label" for="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.Status))"></label>
                        <input asp-for="Model!.Status" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.Status))" name="@Model!.HtmlName(nameof(SalesOrderHeaderDataModel.DefaultView.Status))" data-nt-value="@Model!.Model!.Status"/>
                        <span asp-validation-for="Model!.Status" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(SalesOrderHeaderDataModel.DefaultView.Status))"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.OnlineOrderFlag" class="control-label" for="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.OnlineOrderFlag))"></label>
                        <input asp-for="Model!.OnlineOrderFlag" type="checkbox" class="form-check-input nt-form-check ms-1" id="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.OnlineOrderFlag))" name="@Model!.HtmlName(nameof(SalesOrderHeaderDataModel.DefaultView.OnlineOrderFlag))" data-nt-value="@Model!.Model!.OnlineOrderFlag"/>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.PurchaseOrderNumber" class="control-label" for="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.PurchaseOrderNumber))"></label>
                        <input asp-for="Model!.PurchaseOrderNumber" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.PurchaseOrderNumber))" name="@Model!.HtmlName(nameof(SalesOrderHeaderDataModel.DefaultView.PurchaseOrderNumber))" data-nt-value="@Model!.Model!.PurchaseOrderNumber"/>
                        <span asp-validation-for="Model!.PurchaseOrderNumber" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(SalesOrderHeaderDataModel.DefaultView.PurchaseOrderNumber))"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.AccountNumber" class="control-label" for="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.AccountNumber))"></label>
                        <input asp-for="Model!.AccountNumber" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.AccountNumber))" name="@Model!.HtmlName(nameof(SalesOrderHeaderDataModel.DefaultView.AccountNumber))" data-nt-value="@Model!.Model!.AccountNumber"/>
                        <span asp-validation-for="Model!.AccountNumber" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(SalesOrderHeaderDataModel.DefaultView.AccountNumber))"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.CustomerID" class="control-label" for="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.CustomerID))"></label>
                        <select asp-for="Model!.CustomerID" class="form-control form-select nt-form-data" asp-items="@selectListHelper.GetSelectList(Model?.TopLevelDropDownListsFromDatabase?[TopLevelDropDownLists.Customer.ToString()])"
                            data-nt-value="@Model!.Model!.CustomerID" id="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.CustomerID))"  name="@Model!.HtmlName(nameof(SalesOrderHeaderDataModel.DefaultView.CustomerID))">
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.ShipToAddressID" class="control-label" for="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.ShipToAddressID))"></label>
                        <select asp-for="Model!.ShipToAddressID" class="form-control form-select nt-form-data" asp-items="@selectListHelper.GetSelectList(Model?.TopLevelDropDownListsFromDatabase?[TopLevelDropDownLists.Address.ToString()])"
                            data-nt-value="@Model!.Model!.ShipToAddressID" id="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.ShipToAddressID))"  name="@Model!.HtmlName(nameof(SalesOrderHeaderDataModel.DefaultView.ShipToAddressID))">
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.BillToAddressID" class="control-label" for="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.BillToAddressID))"></label>
                        <select asp-for="Model!.BillToAddressID" class="form-control form-select nt-form-data" asp-items="@selectListHelper.GetSelectList(Model?.TopLevelDropDownListsFromDatabase?[TopLevelDropDownLists.Address.ToString()])"
                            data-nt-value="@Model!.Model!.BillToAddressID" id="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.BillToAddressID))"  name="@Model!.HtmlName(nameof(SalesOrderHeaderDataModel.DefaultView.BillToAddressID))">
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.ShipMethod" class="control-label" for="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.ShipMethod))"></label>
                        <input asp-for="Model!.ShipMethod" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.ShipMethod))" name="@Model!.HtmlName(nameof(SalesOrderHeaderDataModel.DefaultView.ShipMethod))" data-nt-value="@Model!.Model!.ShipMethod"/>
                        <span asp-validation-for="Model!.ShipMethod" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(SalesOrderHeaderDataModel.DefaultView.ShipMethod))"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.CreditCardApprovalCode" class="control-label" for="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.CreditCardApprovalCode))"></label>
                        <input asp-for="Model!.CreditCardApprovalCode" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.CreditCardApprovalCode))" name="@Model!.HtmlName(nameof(SalesOrderHeaderDataModel.DefaultView.CreditCardApprovalCode))" data-nt-value="@Model!.Model!.CreditCardApprovalCode"/>
                        <span asp-validation-for="Model!.CreditCardApprovalCode" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(SalesOrderHeaderDataModel.DefaultView.CreditCardApprovalCode))"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.SubTotal" class="control-label" for="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.SubTotal))"></label>
                        <input asp-for="Model!.SubTotal" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.SubTotal))" name="@Model!.HtmlName(nameof(SalesOrderHeaderDataModel.DefaultView.SubTotal))" data-nt-value="@Model!.Model!.SubTotal"/>
                        <span asp-validation-for="Model!.SubTotal" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(SalesOrderHeaderDataModel.DefaultView.SubTotal))"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.TaxAmt" class="control-label" for="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.TaxAmt))"></label>
                        <input asp-for="Model!.TaxAmt" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.TaxAmt))" name="@Model!.HtmlName(nameof(SalesOrderHeaderDataModel.DefaultView.TaxAmt))" data-nt-value="@Model!.Model!.TaxAmt"/>
                        <span asp-validation-for="Model!.TaxAmt" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(SalesOrderHeaderDataModel.DefaultView.TaxAmt))"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.Freight" class="control-label" for="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.Freight))"></label>
                        <input asp-for="Model!.Freight" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.Freight))" name="@Model!.HtmlName(nameof(SalesOrderHeaderDataModel.DefaultView.Freight))" data-nt-value="@Model!.Model!.Freight"/>
                        <span asp-validation-for="Model!.Freight" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(SalesOrderHeaderDataModel.DefaultView.Freight))"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.Comment" class="control-label" for="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.Comment))"></label>
                        <input asp-for="Model!.Comment" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.Comment))" name="@Model!.HtmlName(nameof(SalesOrderHeaderDataModel.DefaultView.Comment))" data-nt-value="@Model!.Model!.Comment"/>
                        <span asp-validation-for="Model!.Comment" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(SalesOrderHeaderDataModel.DefaultView.Comment))"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.ModifiedDate" class="control-label" for="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.ModifiedDate))"></label>
                        <input asp-for="Model!.ModifiedDate" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.ModifiedDate))" name="@Model!.HtmlName(nameof(SalesOrderHeaderDataModel.DefaultView.ModifiedDate))" data-nt-value="@Model!.Model!.ModifiedDate"/>
                        <span asp-validation-for="Model!.ModifiedDate" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(SalesOrderHeaderDataModel.DefaultView.ModifiedDate))"></span>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="btn-group" role="group" aria-label="...">
                        <button class="btn btn-primary" role="button" type="submit">
                            <i class="fa-solid fa-check-circle"></i><span class="nt-submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline ms-1">@localizor.Get("Create")</span>
                        </button>
                        <a asp-area="" asp-controller="SalesOrderHeader" asp-action="Create" class="btn btn-secondary" role="button" title="@localizor.Get("Reset")">
                            <i class="fa-solid fa-refresh"></i><span class="nt-submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline ms-1">@localizor.Get("Reset")</span>
                        </a>
                        <a asp-area="" asp-controller="SalesOrderHeader" asp-action="Index" class="btn btn-secondary" role="button" title="@localizor.Get("Back_to_List")">
                            <i class="fa-solid fa-arrow-left"></i><span class="submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline">@localizor.Get("Back_to_List")</span>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
