@using AdventureWorksLT2019.Models.Definitions;
@using AdventureWorksLT2019.MvcWebApp.Models;
@using Framework.Mvc.Models;
@using AdventureWorksLT2019.Models;
@using AdventureWorksLT2019.Resx;
@model MvcItemViewModel<SalesOrderHeaderDataModel.DefaultView>
@inject SelectListHelper selectListHelper;
@inject IUIStrings localizor;
@{
    ViewData["Title"] = localizor.Get("Delete");
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h1>@localizor.Get("Delete")</h1>
                <h4>@localizor.Get("SalesOrderHeader")</h4>
                <h3>@localizor.Get("Are_you_sure_you_want_to_delete_this_")</h3>
            </div>
            @if (Model.Status != System.Net.HttpStatusCode.OK)
            {
                <div class="card-body">
                    <div class="text-danger">@Model.StatusMessage</div>
                </div>
            }
            <div class="card-body">
                <div class="form-group">
                    <label asp-for="Model!.SalesOrderID" class="control-label" for="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.SalesOrderID))"></label>
                    <input asp-for="Model!.SalesOrderID" readonly class="form-control " id="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.SalesOrderID))" name="@Model!.HtmlName(nameof(SalesOrderHeaderDataModel.DefaultView.SalesOrderID))" data-nt-value="@Model!.Model!.SalesOrderID"/>
                </div>
                <div class="form-group">
                    <label asp-for="Model!.RevisionNumber" class="control-label" for="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.RevisionNumber))"></label>
                    <input asp-for="Model!.RevisionNumber" readonly class="form-control " id="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.RevisionNumber))" name="@Model!.HtmlName(nameof(SalesOrderHeaderDataModel.DefaultView.RevisionNumber))" data-nt-value="@Model!.Model!.RevisionNumber"/>
                </div>
                <div class="form-group">
                    <label asp-for="Model!.OrderDate" class="control-label" for="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.OrderDate))"></label>
                    <input asp-for="Model!.OrderDate" readonly class="form-control " id="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.OrderDate))" name="@Model!.HtmlName(nameof(SalesOrderHeaderDataModel.DefaultView.OrderDate))" data-nt-value="@Model!.Model!.OrderDate"/>
                </div>
                <div class="form-group">
                    <label asp-for="Model!.DueDate" class="control-label" for="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.DueDate))"></label>
                    <input asp-for="Model!.DueDate" readonly class="form-control " id="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.DueDate))" name="@Model!.HtmlName(nameof(SalesOrderHeaderDataModel.DefaultView.DueDate))" data-nt-value="@Model!.Model!.DueDate"/>
                </div>
                <div class="form-group">
                    <label asp-for="Model!.ShipDate" class="control-label" for="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.ShipDate))"></label>
                    <input asp-for="Model!.ShipDate" readonly class="form-control " id="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.ShipDate))" name="@Model!.HtmlName(nameof(SalesOrderHeaderDataModel.DefaultView.ShipDate))" data-nt-value="@Model!.Model!.ShipDate"/>
                </div>
                <div class="form-group">
                    <label asp-for="Model!.Status" class="control-label" for="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.Status))"></label>
                    <input asp-for="Model!.Status" readonly class="form-control " id="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.Status))" name="@Model!.HtmlName(nameof(SalesOrderHeaderDataModel.DefaultView.Status))" data-nt-value="@Model!.Model!.Status"/>
                </div>
                <div class="form-group">
                    <label asp-for="Model!.OnlineOrderFlag" class="control-label" for="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.OnlineOrderFlag))"></label>
                    @Html.DisplayFor(m=>m.Model!.OnlineOrderFlag)
                </div>
                <div class="form-group">
                    <label asp-for="Model!.SalesOrderNumber" class="control-label" for="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.SalesOrderNumber))"></label>
                    <input asp-for="Model!.SalesOrderNumber" readonly class="form-control " id="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.SalesOrderNumber))" name="@Model!.HtmlName(nameof(SalesOrderHeaderDataModel.DefaultView.SalesOrderNumber))" data-nt-value="@Model!.Model!.SalesOrderNumber"/>
                </div>
                <div class="form-group">
                    <label asp-for="Model!.PurchaseOrderNumber" class="control-label" for="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.PurchaseOrderNumber))"></label>
                    <input asp-for="Model!.PurchaseOrderNumber" readonly class="form-control " id="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.PurchaseOrderNumber))" name="@Model!.HtmlName(nameof(SalesOrderHeaderDataModel.DefaultView.PurchaseOrderNumber))" data-nt-value="@Model!.Model!.PurchaseOrderNumber"/>
                </div>
                <div class="form-group">
                    <label asp-for="Model!.AccountNumber" class="control-label" for="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.AccountNumber))"></label>
                    <input asp-for="Model!.AccountNumber" readonly class="form-control " id="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.AccountNumber))" name="@Model!.HtmlName(nameof(SalesOrderHeaderDataModel.DefaultView.AccountNumber))" data-nt-value="@Model!.Model!.AccountNumber"/>
                </div>
                <div class="form-group">
                    <label asp-for="Model!.CustomerID" class="control-label" for="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.CustomerID))"></label>                <div class="form-control" readonly>
                    <a asp-area="" asp-controller="Customer" asp-action="Dashboard" asp-route-customerid="@Model!.Model!.CustomerID">@Model!.Model!.Customer_Name</a>
                </div>
                </div>
                <div class="form-group">
                    <label asp-for="Model!.ShipToAddressID" class="control-label" for="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.ShipToAddressID))"></label>                <div class="form-control" readonly>
                    <a asp-area="" asp-controller="Address" asp-action="Dashboard" asp-route-addressid="@Model!.Model!.ShipToAddressID">@Model!.Model!.ShipTo_Name</a>
                </div>
                </div>
                <div class="form-group">
                    <label asp-for="Model!.BillToAddressID" class="control-label" for="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.BillToAddressID))"></label>                <div class="form-control" readonly>
                    <a asp-area="" asp-controller="Address" asp-action="Dashboard" asp-route-addressid="@Model!.Model!.BillToAddressID">@Model!.Model!.BillTo_Name</a>
                </div>
                </div>
                <div class="form-group">
                    <label asp-for="Model!.ShipMethod" class="control-label" for="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.ShipMethod))"></label>
                    <input asp-for="Model!.ShipMethod" readonly class="form-control " id="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.ShipMethod))" name="@Model!.HtmlName(nameof(SalesOrderHeaderDataModel.DefaultView.ShipMethod))" data-nt-value="@Model!.Model!.ShipMethod"/>
                </div>
                <div class="form-group">
                    <label asp-for="Model!.CreditCardApprovalCode" class="control-label" for="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.CreditCardApprovalCode))"></label>
                    <input asp-for="Model!.CreditCardApprovalCode" readonly class="form-control " id="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.CreditCardApprovalCode))" name="@Model!.HtmlName(nameof(SalesOrderHeaderDataModel.DefaultView.CreditCardApprovalCode))" data-nt-value="@Model!.Model!.CreditCardApprovalCode"/>
                </div>
                <div class="form-group">
                    <label asp-for="Model!.SubTotal" class="control-label" for="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.SubTotal))"></label>
                    <input asp-for="Model!.SubTotal" readonly class="form-control " id="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.SubTotal))" name="@Model!.HtmlName(nameof(SalesOrderHeaderDataModel.DefaultView.SubTotal))" data-nt-value="@Model!.Model!.SubTotal"/>
                </div>
                <div class="form-group">
                    <label asp-for="Model!.TaxAmt" class="control-label" for="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.TaxAmt))"></label>
                    <input asp-for="Model!.TaxAmt" readonly class="form-control " id="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.TaxAmt))" name="@Model!.HtmlName(nameof(SalesOrderHeaderDataModel.DefaultView.TaxAmt))" data-nt-value="@Model!.Model!.TaxAmt"/>
                </div>
                <div class="form-group">
                    <label asp-for="Model!.Freight" class="control-label" for="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.Freight))"></label>
                    <input asp-for="Model!.Freight" readonly class="form-control " id="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.Freight))" name="@Model!.HtmlName(nameof(SalesOrderHeaderDataModel.DefaultView.Freight))" data-nt-value="@Model!.Model!.Freight"/>
                </div>
                <div class="form-group">
                    <label asp-for="Model!.TotalDue" class="control-label" for="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.TotalDue))"></label>
                    <input asp-for="Model!.TotalDue" readonly class="form-control " id="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.TotalDue))" name="@Model!.HtmlName(nameof(SalesOrderHeaderDataModel.DefaultView.TotalDue))" data-nt-value="@Model!.Model!.TotalDue"/>
                </div>
                <div class="form-group">
                    <label asp-for="Model!.Comment" class="control-label" for="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.Comment))"></label>
                    <input asp-for="Model!.Comment" readonly class="form-control " id="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.Comment))" name="@Model!.HtmlName(nameof(SalesOrderHeaderDataModel.DefaultView.Comment))" data-nt-value="@Model!.Model!.Comment"/>
                </div>
                <div class="form-group">
                    <label asp-for="Model!.rowguid" class="control-label" for="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.rowguid))"></label>
                    <input asp-for="Model!.rowguid" readonly class="form-control " id="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.rowguid))" name="@Model!.HtmlName(nameof(SalesOrderHeaderDataModel.DefaultView.rowguid))" data-nt-value="@Model!.Model!.rowguid"/>
                </div>
                <div class="form-group">
                    <label asp-for="Model!.ModifiedDate" class="control-label" for="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.ModifiedDate))"></label>
                    <input asp-for="Model!.ModifiedDate" readonly class="form-control " id="@Model!.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.ModifiedDate))" name="@Model!.HtmlName(nameof(SalesOrderHeaderDataModel.DefaultView.ModifiedDate))" data-nt-value="@Model!.Model!.ModifiedDate"/>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group" role="group" aria-label="...">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Model!.SalesOrderID" id="@Model.HtmlId(nameof(SalesOrderHeaderDataModel.DefaultView.SalesOrderID))" name="@Model.HtmlName(nameof(SalesOrderHeaderDataModel.DefaultView.SalesOrderID))"/>
                        <button class="btn btn-primary" role="button" type="submit" title="@localizor.Get("Delete")">
                            <span class="fa-solid fa-trash"></span><span class="nt-submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline ms-1">@localizor.Get("Delete")</span>
                        </button>
                    </form>
                    <a asp-area="" asp-controller="SalesOrderHeader" asp-action="Create" class="btn btn-secondary" role="button" title="@localizor.Get("Reset")">
                        <i class="fa-solid fa-refresh"></i><span class="nt-submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline ms-1">@localizor.Get("Reset")</span>
                    </a>
                    <a asp-area="" asp-controller="SalesOrderHeader" asp-action="Index" class="btn btn-secondary" role="button" title="@localizor.Get("Back_to_List")">
                        <i class="fa-solid fa-arrow-left"></i><span class="submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline">@localizor.Get("Back_to_List")</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
