@using Framework.Models;
@using AdventureWorksLT2019.Models.Definitions;
@using AdventureWorksLT2019.MvcWebApp.Models;
@using AdventureWorksLT2019.Models;
@using AdventureWorksLT2019.Resx;
@model MvcItemViewModel<ProductDataModel.DefaultView>
@inject SelectListHelper selectListHelper;
@inject IUIStrings localizor;
@{
    var format_Please_Select = localizor.Get("Format_Please_Select");
}
@if (Model.Status != System.Net.HttpStatusCode.OK)
{
    <div class="row">
        <div class="text-danger">@Model.StatusMessage</div>
    </div>
}
else
{
    <input class="hidden-modal-title" value="@Model!.Model!.Name" type="hidden" />
    <div class="form-group">
        <label asp-for="Model!.ProductID" class="control-label" for="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.ProductID))"></label>
        @Html.DisplayFor(m=>m.Model!.ProductID)
    </div>
    <div class="form-group">
        <label asp-for="Model!.Name" class="control-label" for="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.Name))"></label>
        @Html.DisplayFor(m=>m.Model!.Name)
    </div>
    <div class="form-group">
        <label asp-for="Model!.ProductNumber" class="control-label" for="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.ProductNumber))"></label>
        @Html.DisplayFor(m=>m.Model!.ProductNumber)
    </div>
    <div class="form-group">
        <label asp-for="Model!.Color" class="control-label" for="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.Color))"></label>
        @Html.DisplayFor(m=>m.Model!.Color)
    </div>
    <div class="form-group">
        <label asp-for="Model!.StandardCost" class="control-label" for="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.StandardCost))"></label>
        @Html.DisplayFor(m=>m.Model!.StandardCost)
    </div>
    <div class="form-group">
        <label asp-for="Model!.ListPrice" class="control-label" for="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.ListPrice))"></label>
        @Html.DisplayFor(m=>m.Model!.ListPrice)
    </div>
    <div class="form-group">
        <label asp-for="Model!.Size" class="control-label" for="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.Size))"></label>
        @Html.DisplayFor(m=>m.Model!.Size)
    </div>
    <div class="form-group">
        <label asp-for="Model!.Weight" class="control-label" for="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.Weight))"></label>
        @Html.DisplayFor(m=>m.Model!.Weight)
    </div>
    <div class="form-group">
        <label asp-for="Model!.ProductCategoryID" class="control-label" for="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.ProductCategoryID))"></label>
        <a asp-area="" asp-controller="ProductCategory" asp-action="Dashboard" asp-route-productcategoryid="@Model!.Model!.ProductCategoryID">@Model!.Model!.ProductCategory_Name</a>
    </div>
    <div class="form-group">
        <label asp-for="Model!.ProductModelID" class="control-label" for="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.ProductModelID))"></label>
        <a asp-area="" asp-controller="ProductModel" asp-action="Dashboard" asp-route-productmodelid="@Model!.Model!.ProductModelID">@Model!.Model!.ProductModel_Name</a>
    </div>
    <div class="form-group">
        <label asp-for="Model!.SellStartDate" class="control-label" for="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.SellStartDate))"></label>
        @Html.DisplayFor(m=>m.Model!.SellStartDate)
    </div>
    <div class="form-group">
        <label asp-for="Model!.SellEndDate" class="control-label" for="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.SellEndDate))"></label>
        @Html.DisplayFor(m=>m.Model!.SellEndDate)
    </div>
    <div class="form-group">
        <label asp-for="Model!.DiscontinuedDate" class="control-label" for="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.DiscontinuedDate))"></label>
        @Html.DisplayFor(m=>m.Model!.DiscontinuedDate)
    </div>
    <div class="form-group">
        <label asp-for="Model!.ThumbNailPhoto" class="control-label" for="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.ThumbNailPhoto))"></label>
        @Html.DisplayFor(m=>m.Model!.ThumbNailPhoto)
    </div>
    <div class="form-group">
        <label asp-for="Model!.ThumbnailPhotoFileName" class="control-label" for="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.ThumbnailPhotoFileName))"></label>
        @Html.DisplayFor(m=>m.Model!.ThumbnailPhotoFileName)
    </div>
    <div class="form-group">
        <label asp-for="Model!.rowguid" class="control-label" for="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.rowguid))"></label>
        @Html.DisplayFor(m=>m.Model!.rowguid)
    </div>
    <div class="form-group">
        <label asp-for="Model!.ModifiedDate" class="control-label" for="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.ModifiedDate))"></label>
        @Html.DisplayFor(m=>m.Model!.ModifiedDate)
    </div>
}
