@using Framework.Models;
@using AdventureWorksLT2019.Models;
@using AdventureWorksLT2019.Resx;
@using AdventureWorksLT2019.MvcWebApp.Models;
@using Framework.Mvc.Models;
@using AdventureWorksLT2019.Models.Definitions;
@model MvcItemViewModel<ProductDataModel.DefaultView>
@inject SelectListHelper selectListHelper;
@inject IUIStrings localizor;
@{
    var format_Please_Select = localizor.Get("Format_Please_Select");
}
@if (Model!.UIItemFeatures.ShowListBulkSelectCheckbox)
{
    <td class="pt-0 pb-0 nt-list-bulk-select" style="width: 1% !important;">
    </td>
}
@if (Model!.UIItemFeatures.ShowItemButtons)
{
    <td class="p-0" style="width: 1% !important;">
    <div class="btn-group btn-group-nt-action-save">
        <button type="button" class="btn btn-secondary btn-nt-action-cancel" data-nt-action="@HttpMethods.Post">
            <i class="fa-solid fa-circle-xmark"></i><span class="submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline ms-1">@localizor.Get("Cancel")</span>
        </button>
        <button type="button" class="btn btn-primary btn-nt-action" data-nt-action="@HttpMethods.Post"
            data-nt-container="@CrudViewContainers.Inline.ToString()"
            data-nt-template="@ViewItemTemplates.Create.ToString()">
            <i class="fa-solid fa-check-circle"></i><span class="submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline ms-1">@localizor.Get("Save")</span>
        </button>
    </div>
    </td>
}
<td class="form-group p-0">
</td>
<td class="form-group p-0">
    <input asp-for="Model!.Name" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.Name))" name="@Model!.HtmlName(nameof(ProductDataModel.DefaultView.Name))" data-nt-value="@Model!.Model!.Name"/>
    <span asp-validation-for="Model!.Name" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(ProductDataModel.DefaultView.Name))"></span>
</td>
<td class="form-group p-0">
    <input asp-for="Model!.ProductNumber" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.ProductNumber))" name="@Model!.HtmlName(nameof(ProductDataModel.DefaultView.ProductNumber))" data-nt-value="@Model!.Model!.ProductNumber"/>
    <span asp-validation-for="Model!.ProductNumber" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(ProductDataModel.DefaultView.ProductNumber))"></span>
</td>
<td class="form-group p-0">
    <input asp-for="Model!.Color" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.Color))" name="@Model!.HtmlName(nameof(ProductDataModel.DefaultView.Color))" data-nt-value="@Model!.Model!.Color"/>
    <span asp-validation-for="Model!.Color" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(ProductDataModel.DefaultView.Color))"></span>
</td>
<td class="form-group p-0">
    <input asp-for="Model!.StandardCost" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.StandardCost))" name="@Model!.HtmlName(nameof(ProductDataModel.DefaultView.StandardCost))" data-nt-value="@Model!.Model!.StandardCost"/>
    <span asp-validation-for="Model!.StandardCost" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(ProductDataModel.DefaultView.StandardCost))"></span>
</td>
<td class="form-group p-0">
    <input asp-for="Model!.ListPrice" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.ListPrice))" name="@Model!.HtmlName(nameof(ProductDataModel.DefaultView.ListPrice))" data-nt-value="@Model!.Model!.ListPrice"/>
    <span asp-validation-for="Model!.ListPrice" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(ProductDataModel.DefaultView.ListPrice))"></span>
</td>
<td class="form-group p-0">
    <input asp-for="Model!.Size" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.Size))" name="@Model!.HtmlName(nameof(ProductDataModel.DefaultView.Size))" data-nt-value="@Model!.Model!.Size"/>
    <span asp-validation-for="Model!.Size" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(ProductDataModel.DefaultView.Size))"></span>
</td>
<td class="form-group p-0">
    <input asp-for="Model!.Weight" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.Weight))" name="@Model!.HtmlName(nameof(ProductDataModel.DefaultView.Weight))" data-nt-value="@Model!.Model!.Weight"/>
</td>
<td class="form-group p-0">
    <select asp-for="Model!.ProductCategoryID" class="form-control form-select nt-form-data"
        data-nt-value="@Model!.Model!.ProductCategoryID" id="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.ProductCategoryID))"  name="@Model!.HtmlName(nameof(ProductDataModel.DefaultView.ProductCategoryID))">
    </select>
</td>
<td class="form-group p-0">
    <select asp-for="Model!.ProductModelID" class="form-control form-select nt-form-data" asp-items="@selectListHelper.GetSelectList(Model?.TopLevelDropDownListsFromDatabase?[TopLevelDropDownLists.ProductModel.ToString()])"
        data-nt-value="@Model!.Model!.ProductModelID" id="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.ProductModelID))"  name="@Model!.HtmlName(nameof(ProductDataModel.DefaultView.ProductModelID))">
    </select>
</td>
<td class="form-group p-0">
    <input asp-for="Model!.SellStartDate" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.SellStartDate))" name="@Model!.HtmlName(nameof(ProductDataModel.DefaultView.SellStartDate))" data-nt-value="@Model!.Model!.SellStartDate"/>
    <span asp-validation-for="Model!.SellStartDate" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(ProductDataModel.DefaultView.SellStartDate))"></span>
</td>
<td class="form-group p-0">
    <input asp-for="Model!.SellEndDate" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.SellEndDate))" name="@Model!.HtmlName(nameof(ProductDataModel.DefaultView.SellEndDate))" data-nt-value="@Model!.Model!.SellEndDate"/>
</td>
<td class="form-group p-0">
    <input asp-for="Model!.DiscontinuedDate" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.DiscontinuedDate))" name="@Model!.HtmlName(nameof(ProductDataModel.DefaultView.DiscontinuedDate))" data-nt-value="@Model!.Model!.DiscontinuedDate"/>
</td>
<td class="form-group p-0">
    <input asp-for="Model!.ThumbNailPhoto" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.ThumbNailPhoto))" name="@Model!.HtmlName(nameof(ProductDataModel.DefaultView.ThumbNailPhoto))" data-nt-value="@Model!.Model!.ThumbNailPhoto"/>
</td>
<td class="form-group p-0">
    <input asp-for="Model!.ThumbnailPhotoFileName" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.ThumbnailPhotoFileName))" name="@Model!.HtmlName(nameof(ProductDataModel.DefaultView.ThumbnailPhotoFileName))" data-nt-value="@Model!.Model!.ThumbnailPhotoFileName"/>
    <span asp-validation-for="Model!.ThumbnailPhotoFileName" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(ProductDataModel.DefaultView.ThumbnailPhotoFileName))"></span>
</td>
<td class="form-group p-0">
</td>
<td class="form-group p-0">
    <input asp-for="Model!.ModifiedDate" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.ModifiedDate))" name="@Model!.HtmlName(nameof(ProductDataModel.DefaultView.ModifiedDate))" data-nt-value="@Model!.Model!.ModifiedDate"/>
    <span asp-validation-for="Model!.ModifiedDate" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(ProductDataModel.DefaultView.ModifiedDate))"></span>
</td>
<td class="form-group p-0">
    <a asp-area="" asp-controller="ProductCategory" asp-action="Dashboard" asp-route-productcategoryid="@Model!.Model!.ParentID">@Model!.Model!.Parent_Name</a>
    <input asp-for="Model!.ParentID" type="hidden" class="form-control" id="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.ParentID))" name="@Model!.HtmlName(nameof(ProductDataModel.DefaultView.ParentID))" data-nt-value="@Model!.Model!.ParentID"/>
</td>
@if (Model!.UIItemFeatures.ShowItemUIStatus)
{
    <td class="form-group nt-item-status text-center" style="width: 1% !important;">
        @if (Model!.Model!.ItemUIStatus______ == ItemUIStatus.NoChange)
        {
                <i class="fa-solid fa-circle-notch text-success"></i>
        }
        else if (Model!.Model!.ItemUIStatus______ == ItemUIStatus.Updated) // Usually: will be changed by JQuery
        {
                <i class="fa-solid fa-circle text-danger"></i>
        }
        else // ItemUIStatus.New
        {
                    <i class="fa-solid fa-circle text-danger"></i>
        }
        <input asp-for="Model!.ItemUIStatus______" class="form-control" data-nt-value="@Model!.Model!.ItemUIStatus______" id="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.ItemUIStatus______))" name="@Model!.HtmlName(nameof(ProductDataModel.DefaultView.ItemUIStatus______))" type="hidden" />
    </td>
}
@if (Model!.UIItemFeatures.ShowEditableListDeleteSelect)
{
    <td class="form-group nt-editablelist-delete-select text-center" style="width: 1% !important;">
        <input asp-for="Model!.IsDeleted______" class="form-check-input nt-form-check ms-1" type="checkbox"  id="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.IsDeleted______))" name="@Model!.HtmlName(nameof(ProductDataModel.DefaultView.IsDeleted______))" data-nt-value="@Model!.Model!.IsDeleted______"/>
    </td>
}
