@using AdventureWorksLT2019.Models;
@using AdventureWorksLT2019.Resx;
@using Framework.Mvc.Models;
@using Framework.Common;
@model ListViewModel<ProductDataModel.DefaultView[]>
@inject IUIStrings localizor;
@if (Model != null && Model.Result != null && Model.Result.Status == System.Net.HttpStatusCode.OK && Model.Result.ResponseBody != null)
{
    @for (var i = 0; i < Model.Result.ResponseBody.Length; i++)
    {
        @await Html.PartialAsync("~/Views/Product/_Tile.cshtml",
            new MvcItemViewModel<ProductDataModel.DefaultView>
            {
                UIItemFeatures = Model.UIListSetting.GetUIItemFeatures(),
                Status = System.Net.HttpStatusCode.OK,
                Model = Model.Result.ResponseBody[i],
                IsCurrentItem = false
            })
    }
    @if (Model!.UIListSetting == null || Model!.UIListSetting.CanGotoCreate(@CrudViewContainers.Inline))
    {
        <div class="d-flex align-items-stretch col-sm-12 col-md-6 col-lg-4 col-xl-3 p-1 nt-listitem nt-new" data-nt-route-id="">
            <div class="card nt-createnew-button-container w-100">
                <div class="card-body w-100 h-100 d-flex flex-column">
                <button type="button" class="btn btn-primary btn-nt-inline-editing w-100 h-100" title="@localizor.Get("Create_New")"
                    data-nt-action="@HttpMethods.Post"
                    data-nt-route-id="@(default(int))"
                    data-nt-container="@CrudViewContainers.Inline.ToString()"
                    data-nt-template="@ViewItemTemplates.Create.ToString()">
                    <i class="fa fa-plus"></i><span class="submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline ms-1">@localizor.Get("Create_New")</span>
                </button>
                </div>
            </div>
        </div>
    }
}
else if (Model != null && Model.Result != null)
{
    <div class="text-danger">@Model.Result.StatusMessage</div>
}
@if (Model != null && Model!.UIListSetting!.UIListFeatures.HasPagination && Model!.Result != null && Model!.Result.Pagination != null)
{
    @await Html.PartialAsync("~/Views/Shared/_Pagination.cshtml", Model.Result.Pagination)
}
