@using AdventureWorksLT2019.Models;
@using AdventureWorksLT2019.MvcWebApp.Models;
@using AdventureWorksLT2019.Resx;
@using Framework.Models;
@model ProductCompositeModel;
@inject ViewFeaturesManager viewFeatureManager;
@inject DashboardViewModelHelper dashboardViewModelHelper;
@inject MvcItemViewModelHelper mvcItemViewModelHelper;
@inject IUIStrings localizor;
@{
    ViewData["Title"] = localizor.Get("Dashboard");
    var routeId = Model.__Master__.ProductID;
    var masterVM = await dashboardViewModelHelper.GetProductMvcItemViewModel(Model.__Master__, Model.Get(ProductCompositeModel.__DataOptions__.__Master__));
}
<div class="row">
    <div class="col-12 col-md-8 col-lg-9 nopadding">
        <ul class="nav nav-tabs" id="dashboardTabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="moredetails-tab" data-bs-toggle="tab" data-bs-target="#moredetails" type="button" role="tab" aria-controls="moredetails" aria-selected="true"><i class="fa fa-list me-2"></i>@localizor.Get("Tab_MoreDetails")</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="lists-tab" data-bs-toggle="tab" data-bs-target="#lists" type="button" role="tab" aria-controls="lists" aria-selected="true"><i class="fa fa-list me-2"></i>@localizor.Get("Tab_Lists")</button>
            </li>
        </ul>
        <div class="tab-content" id="dashboardTabContent">
            <div class="tab-pane fade show active" id="moredetails" role="tabpanel" aria-labelledby="moredetails-tab">
                <div class="accordion" id="moreDetailsPanels">
                    @if (Model!.Responses.ContainsKey(ProductCompositeModel.__DataOptions__.ProductCategory))
                    {
                        var vm = await dashboardViewModelHelper.GetProductCategoryMvcItemViewModel(Model!.ProductCategory!, Model.Get(ProductCompositeModel.__DataOptions__.ProductCategory));
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-heading-productCategory">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-productCategory" aria-expanded="true" aria-controls="panelsStayOpen-productCategory">
                                    @localizor.Get("Section_ProductCategory")
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapse-productCategory" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading-productCategory">
                                <div class="accordion-body p-0">
                                    <div class="nt-list-wrapper"
                                         data-nt-bs-modalsize="Large"
                                         data-nt-loaditem-url="@Url.Action("AjaxLoadItem", "ProductCategory")"
                                         data-nt-createitem-url="@Url.Action("AjaxCreate", "ProductCategory")"
                                         data-nt-updateitem-url="@Url.Action("AjaxEdit", "ProductCategory")">
                                        <div class="nt-listitem" data-nt-route-id="@routeId">
                                            @await Html.PartialAsync("~/Views/ProductCategory/_TileDetailsItem.cshtml", vm)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="tab-pane fade show" id="lists" role="tabpanel" aria-labelledby="lists-tab">
                <div class="accordion" id="listsPanels">
                    @if (Model!.Responses.ContainsKey(ProductCompositeModel.__DataOptions__.SalesOrderDetails_Via_ProductID))
                    {
                        var vm = await dashboardViewModelHelper.GetSalesOrderDetailPagedSearchViewModel(new SalesOrderDetailAdvancedQuery { ProductID = Model.__Master__.ProductID }, Model.SalesOrderDetails_Via_ProductID, Model.Get(ProductCompositeModel.__DataOptions__.SalesOrderDetails_Via_ProductID));
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-heading-salesOrderDetails_Via_ProductID">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-salesOrderDetails_Via_ProductID" aria-expanded="true" aria-controls="panelsStayOpen-salesOrderDetails_Via_ProductID">
                                    @localizor.Get("Section_SalesOrderDetails_Via_ProductID")
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapse-salesOrderDetails_Via_ProductID" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading-salesOrderDetails_Via_ProductID">
                                <form id="@vm.UIListSetting.UIListFeatures.SearchFormId" method="post" class="nt-ajax-partial-load-post-formdata"
                                    data-nt-partial-url="@Url.Action("AjaxLoadItems", "SalesOrderDetail")"
                                    data-nt-updatetarget="#@vm.UIListSetting.UIListFeatures.ListWrapperId">
                                    <input type="hidden" value="@vm.Query.PageIndex" class="nt-page-index" name="PageIndex" />
                                    <input type="hidden" value="@vm.Query.PageSize" class="nt-page-size" name="PageSize" />
                                    <input type="hidden" value="@vm.Query.OrderBys" class="nt-order-by" name="OrderBys" />
                                    <input type="hidden" value="@vm.Query.PaginationOption" class="nt-pagination-option-field" name="PaginationOption" />
                                    <input type="hidden" value="@vm.UIListSetting.UIParams.AdvancedQuery" class="nt-advanced-query" name="AdvancedQuery" />
                                    <input type="hidden" value="@vm.UIListSetting.UIParams.PagedViewOption" class="nt-paged-view-option-field" name="PagedViewOption" />
                                    <input type="hidden" value="@vm.UIListSetting.UIParams.Template" class="nt-template-field" name="Template" />
                                    <!--this is the __Master__ Identifier-->
                                    <input type="hidden" value="@Model.__Master__.ProductID" name="ProductID" />
                                </form>
                                <div class="accordion-body p-0">
                                    @await Html.PartialAsync("~/Views/SalesOrderDetail/_ListViewsContainer.cshtml",vm)
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <!-- ProductCompositeModel.__DataOptions__.__Master__ -->
        <div class="nt-list-wrapper"
             id="master"
             data-nt-bs-modalsize="Large"
             data-nt-loaditem-url="@Url.Action("AjaxLoadItem", "Product")"
             data-nt-createitem-url="@Url.Action("AjaxCreate", "Product")"
             data-nt-updateitem-url="@Url.Action("AjaxEdit", "Product")">
            <div class="nt-listitem" data-nt-route-id="@routeId">
                @await Html.PartialAsync("~/Views/Product/_TileDetailsItem.cshtml", masterVM)
            </div>
        </div>
        <!-- ProductCompositeModel.__DataOptions__.__Master__ -->
    </div>
</div>
<partial name="~/Views/Shared/_CrudActionDialog.cshtml" />
<partial name="~/Views/Shared/_SimpleActionConfirmationDialog.cshtml" />
@section Scripts
    {
    <script>
        const searchFormId_SalesOrderDetails_Via_ProductID = "SalesOrderDetails_Via_ProductIDSearchForm";
        const listWrapperId_SalesOrderDetails_Via_ProductID = "SalesOrderDetails_Via_ProductIDListWrapper";
        $(document).ready($(function () {
            documentReadyForSearchList(searchFormId_SalesOrderDetails_Via_ProductID, listWrapperId_SalesOrderDetails_Via_ProductID);
            documentReadyForPopups(true, true, true);
        }))
    </script>
}
