@using AdventureWorksLT2019.Models.Definitions;
@using AdventureWorksLT2019.MvcWebApp.Models;
@using Framework.Mvc.Models;
@using AdventureWorksLT2019.Models;
@using AdventureWorksLT2019.Resx;
@model MvcItemViewModel<ProductDataModel.DefaultView>
@inject SelectListHelper selectListHelper;
@inject IUIStrings localizor;
@{
    ViewData["Title"] = localizor.Get("Delete");
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h1>@localizor.Get("Delete")</h1>
                <h4>@localizor.Get("Product")</h4>
                <h3>@localizor.Get("Are_you_sure_you_want_to_delete_this_")</h3>
            </div>
            @if (Model.Status != System.Net.HttpStatusCode.OK)
            {
                <div class="card-body">
                    <div class="text-danger">@Model.StatusMessage</div>
                </div>
            }
            <div class="card-body">
                <div class="form-group">
                    <label asp-for="Model!.ProductID" class="control-label" for="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.ProductID))"></label>
                    <input asp-for="Model!.ProductID" readonly class="form-control " id="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.ProductID))" name="@Model!.HtmlName(nameof(ProductDataModel.DefaultView.ProductID))" data-nt-value="@Model!.Model!.ProductID"/>
                </div>
                <div class="form-group">
                    <label asp-for="Model!.Name" class="control-label" for="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.Name))"></label>
                    <input asp-for="Model!.Name" readonly class="form-control " id="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.Name))" name="@Model!.HtmlName(nameof(ProductDataModel.DefaultView.Name))" data-nt-value="@Model!.Model!.Name"/>
                </div>
                <div class="form-group">
                    <label asp-for="Model!.ProductNumber" class="control-label" for="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.ProductNumber))"></label>
                    <input asp-for="Model!.ProductNumber" readonly class="form-control " id="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.ProductNumber))" name="@Model!.HtmlName(nameof(ProductDataModel.DefaultView.ProductNumber))" data-nt-value="@Model!.Model!.ProductNumber"/>
                </div>
                <div class="form-group">
                    <label asp-for="Model!.Color" class="control-label" for="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.Color))"></label>
                    <input asp-for="Model!.Color" readonly class="form-control " id="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.Color))" name="@Model!.HtmlName(nameof(ProductDataModel.DefaultView.Color))" data-nt-value="@Model!.Model!.Color"/>
                </div>
                <div class="form-group">
                    <label asp-for="Model!.StandardCost" class="control-label" for="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.StandardCost))"></label>
                    <input asp-for="Model!.StandardCost" readonly class="form-control " id="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.StandardCost))" name="@Model!.HtmlName(nameof(ProductDataModel.DefaultView.StandardCost))" data-nt-value="@Model!.Model!.StandardCost"/>
                </div>
                <div class="form-group">
                    <label asp-for="Model!.ListPrice" class="control-label" for="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.ListPrice))"></label>
                    <input asp-for="Model!.ListPrice" readonly class="form-control " id="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.ListPrice))" name="@Model!.HtmlName(nameof(ProductDataModel.DefaultView.ListPrice))" data-nt-value="@Model!.Model!.ListPrice"/>
                </div>
                <div class="form-group">
                    <label asp-for="Model!.Size" class="control-label" for="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.Size))"></label>
                    <input asp-for="Model!.Size" readonly class="form-control " id="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.Size))" name="@Model!.HtmlName(nameof(ProductDataModel.DefaultView.Size))" data-nt-value="@Model!.Model!.Size"/>
                </div>
                <div class="form-group">
                    <label asp-for="Model!.Weight" class="control-label" for="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.Weight))"></label>
                    <input asp-for="Model!.Weight" readonly class="form-control " id="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.Weight))" name="@Model!.HtmlName(nameof(ProductDataModel.DefaultView.Weight))" data-nt-value="@Model!.Model!.Weight"/>
                </div>
                <div class="form-group">
                    <label asp-for="Model!.ProductCategoryID" class="control-label" for="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.ProductCategoryID))"></label>                <div class="form-control" readonly>
                    <a asp-area="" asp-controller="ProductCategory" asp-action="Dashboard" asp-route-productcategoryid="@Model!.Model!.ProductCategoryID">@Model!.Model!.ProductCategory_Name</a>
                </div>
                </div>
                <div class="form-group">
                    <label asp-for="Model!.ProductModelID" class="control-label" for="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.ProductModelID))"></label>                <div class="form-control" readonly>
                    <a asp-area="" asp-controller="ProductModel" asp-action="Dashboard" asp-route-productmodelid="@Model!.Model!.ProductModelID">@Model!.Model!.ProductModel_Name</a>
                </div>
                </div>
                <div class="form-group">
                    <label asp-for="Model!.SellStartDate" class="control-label" for="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.SellStartDate))"></label>
                    <input asp-for="Model!.SellStartDate" readonly class="form-control " id="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.SellStartDate))" name="@Model!.HtmlName(nameof(ProductDataModel.DefaultView.SellStartDate))" data-nt-value="@Model!.Model!.SellStartDate"/>
                </div>
                <div class="form-group">
                    <label asp-for="Model!.SellEndDate" class="control-label" for="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.SellEndDate))"></label>
                    <input asp-for="Model!.SellEndDate" readonly class="form-control " id="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.SellEndDate))" name="@Model!.HtmlName(nameof(ProductDataModel.DefaultView.SellEndDate))" data-nt-value="@Model!.Model!.SellEndDate"/>
                </div>
                <div class="form-group">
                    <label asp-for="Model!.DiscontinuedDate" class="control-label" for="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.DiscontinuedDate))"></label>
                    <input asp-for="Model!.DiscontinuedDate" readonly class="form-control " id="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.DiscontinuedDate))" name="@Model!.HtmlName(nameof(ProductDataModel.DefaultView.DiscontinuedDate))" data-nt-value="@Model!.Model!.DiscontinuedDate"/>
                </div>
                <div class="form-group">
                    <label asp-for="Model!.ThumbNailPhoto" class="control-label" for="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.ThumbNailPhoto))"></label>
                    <input asp-for="Model!.ThumbNailPhoto" readonly class="form-control " id="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.ThumbNailPhoto))" name="@Model!.HtmlName(nameof(ProductDataModel.DefaultView.ThumbNailPhoto))" data-nt-value="@Model!.Model!.ThumbNailPhoto"/>
                </div>
                <div class="form-group">
                    <label asp-for="Model!.ThumbnailPhotoFileName" class="control-label" for="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.ThumbnailPhotoFileName))"></label>
                    <input asp-for="Model!.ThumbnailPhotoFileName" readonly class="form-control " id="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.ThumbnailPhotoFileName))" name="@Model!.HtmlName(nameof(ProductDataModel.DefaultView.ThumbnailPhotoFileName))" data-nt-value="@Model!.Model!.ThumbnailPhotoFileName"/>
                </div>
                <div class="form-group">
                    <label asp-for="Model!.rowguid" class="control-label" for="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.rowguid))"></label>
                    <input asp-for="Model!.rowguid" readonly class="form-control " id="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.rowguid))" name="@Model!.HtmlName(nameof(ProductDataModel.DefaultView.rowguid))" data-nt-value="@Model!.Model!.rowguid"/>
                </div>
                <div class="form-group">
                    <label asp-for="Model!.ModifiedDate" class="control-label" for="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.ModifiedDate))"></label>
                    <input asp-for="Model!.ModifiedDate" readonly class="form-control " id="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.ModifiedDate))" name="@Model!.HtmlName(nameof(ProductDataModel.DefaultView.ModifiedDate))" data-nt-value="@Model!.Model!.ModifiedDate"/>
                </div>
                <div class="form-group">
                    <label asp-for="Model!.ParentID" class="control-label" for="@Model!.HtmlId(nameof(ProductDataModel.DefaultView.ParentID))"></label>                <div class="form-control" readonly>
                    <a asp-area="" asp-controller="ProductCategory" asp-action="Dashboard" asp-route-productcategoryid="@Model!.Model!.ParentID">@Model!.Model!.Parent_Name</a>
                </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group" role="group" aria-label="...">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Model!.ProductID" id="@Model.HtmlId(nameof(ProductDataModel.DefaultView.ProductID))" name="@Model.HtmlName(nameof(ProductDataModel.DefaultView.ProductID))"/>
                        <button class="btn btn-primary" role="button" type="submit" title="@localizor.Get("Delete")">
                            <span class="fa-solid fa-trash"></span><span class="nt-submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline ms-1">@localizor.Get("Delete")</span>
                        </button>
                    </form>
                    <a asp-area="" asp-controller="Product" asp-action="Create" class="btn btn-secondary" role="button" title="@localizor.Get("Reset")">
                        <i class="fa-solid fa-refresh"></i><span class="nt-submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline ms-1">@localizor.Get("Reset")</span>
                    </a>
                    <a asp-area="" asp-controller="Product" asp-action="Index" class="btn btn-secondary" role="button" title="@localizor.Get("Back_to_List")">
                        <i class="fa-solid fa-arrow-left"></i><span class="submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline">@localizor.Get("Back_to_List")</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
